* {
    margin-top: 30px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 8px;
}

body {
    background-color: #2e3b4ea4; 
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.podaci {
    height: 60vh;
    position: relative;
    background-color: #414c5b30;
    padding: 20px 40px;
    border-radius: 20px;
    max-width: 900px;
    text-align: center;
    border-radius: 10px;
}

.zaglavlje {
    text-align: center;
    margin-bottom: 20px;
}

.zaglavlje h2 {
    padding-left: 25px;
    padding-right: 25px;
    color:#ffdd57; 
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.zaglavlje p {
    font-size: medium;
    color: #d0d4db;
    line-height: 0;
    margin-top: 35px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
   
}

.podaci label {
    display: block;
    margin-top: 10px;
    font-size: 1em;
    color:#ffdd57; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.podaci input[type="number"], .podaci input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #d0d4db;
    border-radius: 5px;
    background-color: #f9fafc;
    color: #333;
    font-size: 1em;
}

.podaci input[type="number"]:hover, .podaci input[type="text"]:hover {
    outline: none;
    border-color: #ffdd57; 
    border-radius: 5px;
    border-width: 2px;
}


 button {

    background-color: #ffdd57;
    border: none;
    color: #333;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
}

 button:hover {
    background-color: #ffc107;
}

.rezultat{  
    align-items: center;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-bottom: 15px;
    
}

.rezultat input{
    width: 15%;
    height: 10px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d0d4db;
    border-radius: 5px;
    background-color: #f9fafc;
    color: #333;
    font-size: 1em;
    
}
.rezultat input:hover{
    outline: none;
    border-color: #ffdd57; 
    border-radius: 5px;
    border-width: 1px;
}
.rezultat label{
    font-size: large;
}
.rezultat [type=number] {
    -moz-appearance: textfield;
  }